# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/

# Environment files
.env
.env.*
!.env.example
!env.example
env.production.sh

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# SSL Certs
config/nginx/ssl/

# Claude specific files
specs/
**/.claude/settings.local.json

# Editor directories and files
.cursorrules
.cursor/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Screenshots
screenshots

# Test Blockchain data
packages/core/test-blockchain-data

# Node Blockchain data
packages/node/node-data
